[Unit]
Description=SimpleAdmin Rust HTTP Service
After=network.target

[Service]
Type=simple
Environment=SIMPLEADMIN_MANAGE_ROOTFS=1
StandardOutput=null
StandardError=null
ExecStartPre=/usrdata/simpleadmin/prepare_simpleadmin_ports.sh
ExecStart=/usrdata/simpleadmin/run_simpleadmin.sh
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
