[Unit]
Description=SimpleAdmin Rust HTTP Service
After=network.target

[Service]
Type=simple
Environment=SIMPLEADMIN_MANAGE_ROOTFS=1
StandardOutput=null
StandardError=null
ExecStartPre=/usrdata/simpleadmin/prepare_simpleadmin_ports.sh
ExecStart=/usrdata/simpleadmin/simpleadmin-httpd -static /usrdata/simpleadmin/www -auth-file /usrdata/simpleadmin/simpleadmin.auth -http :80 -no-tls -at-devices-file /usrdata/simpleadmin/at_devices.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
